In [1]:
for a in range(5):
    print(a,"Nasir")

0 Nasir
1 Nasir
2 Nasir
3 Nasir
4 Nasir

In [4]:
for char in "PakistanZindabad":
    print(char.upper(),"")

P
A
K
I
S
T
A
N
Z
I
N
D
A
B
A
D

In [6]:
for student in ["Asad","Ahmed","Ali","Nasir","Tahir"]:
    print(f"The name of student is {student}")

The name of student is Asad
The name of student is Ahmed
The name of student is Ali
The name of student is Nasir
The name of student is Tahir

In [7]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [8]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [9]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [16]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [23]:
numbers = []
for value in range(1,11):
    numbers.append(value**2)
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
students = []
for student in ["Asad","Ahmed","Ali","Nasir","Tahir"]:
    students.append(student+ " Pakistani")

In [21]:
print(students)

['Asad Pakistani', 'Ahmed Pakistani', 'Ali Pakistani', 'Nasir Pakistani', 'Tahir Pakistani']

In [27]:
for num in range(len[students]):
    students[num] + f"{students[num]} Pakistani"
students

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
for student in students:
    students.append(students.pop()+"Pakistani")
    students.reverse()
print(s)